src/main/resources/Account.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="bsr/soap/account" elementFormDefault="qualified">

    <xs:element name="createAccount">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createBankAccount">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>