src/main/java/com/majorczyk/soap/generated/Account.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="com/majorczyk/soap/account" elementFormDefault="qualified"
           xmlns:tn="com/majorczyk/soap/account">

    <xs:element name="Login">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="login" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LoginResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="userId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--<xs:element name="CreateUserAccount">-->
        <!--<xs:complexType>-->
            <!--<xs:sequence>-->
                <!--<xs:element name="login" type="xs:string"/>-->
                <!--<xs:element name="password" type="xs:string"/>-->
            <!--</xs:sequence>-->
        <!--</xs:complexType>-->
    <!--</xs:element>-->

    <!--<xs:element name="CreateBankAccount">-->
        <!--<xs:complexType>-->
            <!--<xs:sequence>-->
                <!--<xs:element name="userId" type="xs:int"/>-->
            <!--</xs:sequence>-->
        <!--</xs:complexType>-->
    <!--</xs:element>-->
    <!--<xs:element name="CreateBankAccountResponse">-->
        <!--<xs:complexType>-->
            <!--<xs:sequence>-->
                <!--<xs:element name="accountId" type="xs:string"/>-->
            <!--</xs:sequence>-->
        <!--</xs:complexType>-->
    <!--</xs:element>-->

    <xs:element name="ExternalTransfer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountFrom" type="xs:string"/>
                <xs:element name="accountTo" type="xs:string"/>
                <xs:element name="amount" type="xs:int"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TransferResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="balance" type="xs:int"/>
                <xs:element name="status" type="tn:TransferStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="InternalTransfer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountFrom" type="xs:string"/>
                <xs:element name="accountTo" type="xs:string"/>
                <xs:element name="amount" type="xs:int"/>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Payment">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountTo" type="xs:string"/>
                <xs:element name="amount" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Withdrawal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountFrom" type="xs:string"/>
                <xs:element name="amount" type="xs:int"/>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAccountHistoryRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
                <xs:element name="accountId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="GetAccountHistoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountHistory" type="tn:AccountHistoryEntity"
                            maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="TokenResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="token" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--<xs:complexType name="TransferForHistory">-->
        <!--<xs:sequence>-->
            <!--<xs:element name="balance" type="xs:long"/>-->
            <!--<xs:element name="accountFrom" type="xs:string"/>-->
            <!--<xs:element name="accountTo" type="xs:string"/>-->
            <!--<xs:element name="type" type="xs:string"/>-->
        <!--</xs:sequence>-->
    <!--</xs:complexType>-->

    <xs:complexType name="HistoryTransferSource">
        <xs:choice>
            <xs:element name="InnerTransferEnum" type="tn:InnerTransferEnum"/>
            <xs:element name="accountFrom" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="InnerTransferEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PAYMENT" />
            <xs:enumeration value="WITHDRAWAL" />
            <xs:enumeration value="BANK_FEE" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AccountHistoryEntity">
        <xs:sequence>
            <xs:element name="source" type="tn:HistoryTransferSource"/>
            <xs:element name="amount" type="xs:int"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="destination" type="xs:string"/>
            <xs:element name="balanceAfter" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="TransferStatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK" />
            <xs:enumeration value="ERROR" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
